@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* page-1 */

.page-1 {
    width: 100%;
    background-color: black;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vw;
    padding: 4vw 2vw;
    z-index: 99;
}

nav .logo img {
    filter: invert(1);
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2vw;
}

.nav-button {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #33ABF9;
    padding: 1vw;
    border-radius: 2em;
}

.nav-button p {
    font-size: 1.2vw;
}

.center {
    width: 100%;
    display: flex;
}

.center-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2vw 1vw;
}

.center-text .intro-text {
    display: flex;
    justify-content: center;
}

.center-text .intro-text p {
    font-size: 2.55vw;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

.center-text .XL {
    display: flex;
    justify-content: center;
}

.center-text .XL p {
    font-size: 27.5vw;
    ;
    line-height: 0.9em;

}

.center-text .info-text {
    display: flex;
    justify-content: center;
    padding: 12px;
    font-family: "Poppins", sans-serif;
}

.center .button {
    padding: 0vw 10vw;
}

.center .button button {
    padding: 1vw;
    border-radius: 1vw;
    background-color: #33ABF9;
    color: white;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    border: none;
}

.center-text .info-text p {
    font-size: 1.5vw;
}

.center-image {
    width: 55%;
    padding: 2vw;
}

.center-image img {
    width: 100%;
}

/* page-2 */

.page-2 {
    height: auto;
    width: 100%;
    background-color: white;
}

.page-2 .main-text span {
    font-size: 6vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 6vw;
}

.page-2 .main-text {
    display: flex;
    justify-content: center;
    padding: 60px 0vw;
}

.page-2 .main-text img {
    height: 5vw;
    position: relative;
    top: 1vw;
    margin: 0vw -3vw;
}

.page-2 .we-handle-everything {
    display: flex;
    flex-direction: column;
    padding: 0vw 15vw;
}

.page-2 .we-handle-everything .WHE-1 p {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
}

.page-2 .we-handle-everything .WHE-2 p {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    color: #0006;
}

.page-2 .where-to-build {
    display: flex;
    padding: 2vw 15vw;
}

.page-2 .where-to-build :nth-child(1) {
    font-size: 1.2vw;
    color: #0006;
}

.page-2 .where-to-build :nth-child(2) {
    font-size: 1.2vw;
    color: #0009;
    padding: 0vw 1vw;
}

/* page-3 */

.page-3 {
    height: auto;
    width: 100%;
}

/* slider */

.page-2-inner-div {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-3 .swiper-slide img {
    display: block;
    width: 90%;
    height: 90vh;
    object-fit: cover;
    border-radius: 1vw;
}

/* page-4 */

.page-4 {
    height: auto;
    width: 100%;
    padding: 4vw 0vw;
}

.page-4-inner-div {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.page-4-inner-div .intro {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.page-4-inner-div .intro :nth-child(1) {
    letter-spacing: -3px;
    font-size: 4vw;
    color: #000;
    margin: auto;
}

.page-4-inner-div .intro :nth-child(3) {
    font-size: 3vw;
    color: #0006;
    margin: auto;
}

.page-4-inner-div .as-seen-in {
    display: flex;
    margin: auto;
    background-color: #F5F5EF;
    padding: 20px;
    border-radius: 1vw;
    margin-bottom: 6vw;
}

.page-4-inner-div .as-seen-in p {
    color: #B8B8B3;
    font-size: 1.2vw;
    margin: auto;
}

.page-4-inner-div .as-seen-in img {
    height: 1.5vw;
    margin: 1vw;
}

.samara-boxes {
    display: flex;
    justify-content: center;
    gap: 3vw;
}


.samara-boxes .box-1 .box-1-para,
.box-2-para {
    position: absolute;
    margin: 1vw;
}

.samara-boxes .box-1 img,
.box-2 video {
    width: 40vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 12px;
}

.samara-boxes .box-para p {
    font-size: 2vw;
    color: white;
}

.page-4-inner-div .page-4-bottomText {
    display: flex;
    gap: 0.5vw;
    justify-content: center;
}

.page-4-inner-div .page-4-bottomText :nth-child(1) {
    font-size: 3.5vw;
}

.page-4-inner-div .page-4-bottomText :nth-child(2) {
    font-size: 3.5vw;
    color: #BEBEB9;
    font-family: "Poppins", sans-serif;
}

/* page-5 */

.page-5 {
    height: auto;
    width: 100%;
    padding: 0vw 0vw 8vw 0vw;
}

.second-swiper {
    width: 100%;
    height: 35vw;
}

.second-swiper-slide img {
    height: 20vw;
    position: absolute;
}

.swiper-2-slid-1-colors {
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1vw;
}

.swiper-2-slid-1-colors div {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid rgba(100, 96, 96, 0.315);
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.swiper-2-slid-1-colors .color-box-420-1 {
    background-color: #F6F7F5;
}

.swiper-2-slid-1-colors .color-box-420-1 p,
.color-box-420-2 p,
.color-box-420-3 p,
.color-box-420-4 p,
.color-box-420-5 p {
    position: absolute;
    top: -1.7vw;
    left: -1.5vw;
    font-size: .9vw;
    font-weight: 700;
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #91918c;
}

.swiper-2-slid-1-colors .color-box-420-2 {
    background-color: #DADAD9;
}

.swiper-2-slid-1-colors .color-box-420-3 {
    background-color: #D7D5CB;
}

.swiper-2-slid-1-colors .color-box-420-4 {
    background-color: #375033;
}

.swiper-2-slid-1-colors .color-box-420-5 {
    background-color: #2E2E2C;
}

.swiper-pagination {
    position: initial;
}

.sec-swiper-text{
    position: absolute;
    top: 0;
}

.sec-swiper-text :nth-child(1){
    font-size: 2.5vw;
}

.sec-swiper-text :nth-child(2){
    font-size: 1.5vw;
    color: #0009;
}

.sec-swiper-bottom-text{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 1vw;
}

.sec-swiper-bottom-text .bottom-text-midline{
    width: 0.1vw;
    background-color: black;
}

.HOR-line{
    height: 0.1vw;
    width: 50%;
    background-color: #5e595946;
    margin: 2vw auto;
}

.page-5 .see-more{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
}

.page-5 .see-more #see-more-para{
    color: #9b9b97;
}

.page-5 .see-more #see-more-para span{
    color: black;
    font-weight: 700;
}

.page-5 .see-more-buttons{
    display: flex;
    gap: 5vw;
}

.page-5 .seemore-btn-2{
    display: flex;
    gap: 1vw;
    align-items: center;
}

.page-5 .seemore-btn-2 img{
    height: 3vw;
    border-radius: 5px;
}

.see-more-buttons .seemore-btn-1 :nth-child(1){
    color: #9b9b97;
}

.see-more-buttons .seemore-btn-1 :nth-child(2){
    color: #33ABF9;
}

.seemore-btn-2 p{
    color: #33ABF9;
}

.seemore-btn-1{
    padding: 1vw 2vw;
    background-color: #605d5d0a;
    border-radius: 1.5vw;
}

.seemore-btn-2{
    padding: 1vw 2vw;
    background-color: #605d5d0a;
    border-radius: 1.5vw;
}

/* page-6 */

.page-6{
    height: auto;
    width: 100%;
    padding: 1vw 2vw;
}

.getBackyard{
    display: flex;
    flex-direction: column;
}

.all-steps{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2vw;
}

.FTsteps-text, .LTsteps-text{
    width: 40%;
    padding: 4vw 1vw;
}

.steps{
    width: 35%;
}

.FTsteps .FTsteps-text p{
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.FTsteps .FTsteps-text :nth-child(2){
    color: #0009;
}

.step-name{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.step-name .step-name-01, .step-name-04{
    display: inline-block;
    padding: 1vw;
    background-color: black;
    color: white;
    border-radius: 1vw;
    font-weight: 700;
}

.step-name-02{
    display: inline-block;
    padding: 1vw;
    color: #0009;
    border-radius: 1vw;
    font-weight: 700;
    border: 1px solid #0009;
}

.step-name-after-line{
    width: 100%;
    height: 0.1vw;
    background-color: #6a67673b;
}

.step-1-inner-text :nth-child(1){
    font-size: 2vw;
}

.step-1-inner-text :nth-child(2){
    font-size: 1.2vw;
    color: #0009;
}

.step-stuff img{
    width: 100%;
    border-radius: 1vw;
    margin: 1vw auto;
}

.step-stuff video{
    width: 100%;
    border-radius: 1vw;
    margin: 1vw auto;
}

.LTstep-text-1 p{
    font-size: 1.8vw;
}

.LTstep-text-1 :nth-child(2){
    color: #0009;
}

.LTsteps-button{
    margin: 4vw auto;
}

.LTsteps-button :nth-child(1){
    font-size: 1vw;
    width: 10vw;
    padding: 1vw;
    margin: 1vw;
    background-color: #7170700a;
    border-radius: .5vw;
    color: #33ABF9;
    text-align: center;
}

.LTsteps-button :nth-child(2){
    font-size: 1vw;
    width: 10vw;
    padding: 1vw;
    margin: 1vw;
    background-color: #33ABF9;
    border-radius: .5vw;
    color: white;
    text-align: center;
}

.first-two-step-wrapper, .last-steps-wrapper{
    display: flex;
    justify-content: center;
    gap: 3vw;
}

/* page-7 */

.living-room{
    height: auto;
    width: 100%;
    position: relative;
}

.living-room img{
    width: 100%;
    border-radius: 1vw;
}

.living-room p{
    position: absolute;
    color: white;
    font-size: 4vw;
    top: 6vw;
    left: 12vw;
}

.studio-tour{
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 10px;
    position: relative;
}   

.studio-tour .studio-tour-01 img{
    height: 40vw;
    width: 45vw;
    border-radius: 1vw;
    object-fit: cover;
}

.studio-tour-01-text{
    width: 45vw;
}

.studio-tour .studio-tour-02 img{
    height: 40vw;
    width: 45vw;
    border-radius: 1vw;
    object-fit: cover;
}

.studio-tour-02-text{
    width: 45vw;
}

.studio-tour-01-text :nth-child(1){
    font-size: 2vw;
}

.studio-tour-01-text :nth-child(2){
    font-size: 1.2vw;
    color: #0009;
}

.studio-tour-02-text :nth-child(1){
    font-size: 2vw;
}

.studio-tour-02-text :nth-child(2){
    font-size: 1.2vw;
    color: #0009;
}

.page-7-section-2{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page-7-inner-div{
    height: 90dvh;
    width: 80%;
}

.page-7-inner-div #page-7-BGimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
    filter: blur(0.8px);
}

.page-7-swiper {
    width: 25vw;
    height: 35vw;
    background-color: white;
    border-radius: 1vw;
}

.page-7-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-7-swiper-slide img {
    height: 45%;
    object-fit: cover;
}

.page-7-inner-stuff{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8vw;
    left: 0;
    width: 100%;
    gap: 8vw;
}

.swiper-pagination{
    position: absolute;
}

.page-7-section-2 .inner-div-text p{
    color: white;
    font-size: 3vw;
}
/* responsive */

@media (max-width: 768px) {

    /* page-1 */

    .center {
        flex-direction: column;
        width: 100%;
    }

    .center-text {
        width: 100%;
    }

    .center-text .XL {
        display: none;
    }

    .center-text .intro-text {
        justify-content: flex-start;
        padding: 12px;
    }

    .center-text .intro-text p {
        font-size: 13vw;
    }

    .center-text .info-text {
        justify-content: flex-start;
        padding: 12px;
        margin-bottom: 12px;
    }

    .center-text .info-text p {
        font-size: 6.4vw;
    }

    .center .center-image {
        width: 100%;
        padding: 0vw;
    }

    .center .center-image img {
        border-radius: 2vw;
    }

    .center .button {
        position: absolute;
        top: 83vw;
        padding: 2vw;
    }

    .center .button button {
        padding: 3vw 7vw;
        border-radius: 2vw;
        font-size: 3vw;
        border: #33ABF9;
    }

    /* page-2 */

    .page-2 {
        height: auto;
    }

    .page-2 .main-text span {
        font-size: 8vw;
        line-height: 8vw;
    }

    .page-2 .we-handle-everything {
        padding: 0vw 5vw;
    }

    .page-2 .we-handle-everything .WHE-1 p {
        font-size: 5.5vw;
    }

    .page-2 .we-handle-everything .WHE-2 p {
        font-size: 5.5vw;
    }

    .page-2 .where-to-build {
        flex-direction: column;
        padding: 2vw 5vw;
    }

    .page-2 .where-to-build :nth-child(1) {
        font-size: 3vw;

    }

    .page-2 .where-to-build :nth-child(2) {
        font-size: 3vw;
        padding: 0vw 0vw;
    }

    /* page-3 */

    .page-3 .swiper-slide img {
        width: 90%;
        height: 40vh;
        border-radius: 1vw;
    }

    .second-swiper-slid img{
        position: absolute;
        top: 0;
        height: 20vw;
        border-radius: 1vw;
    }

    /* page-4 */

    .page-4 {
        padding: 10vw 0vw;
    }

    .page-4-inner-div .intro :nth-child(1) {
        font-size: 6.5vw;
        letter-spacing: -2px;
    }

    .page-4-inner-div .intro :nth-child(3) {
        font-size: 5vw;
    }

    .page-4-inner-div .as-seen-in img {
        height: 3vw;
    }

    .page-4-inner-div .as-seen-in p {
        font-size: 2.5vw;
    }

    .samara-boxes {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .samara-boxes .box-1,
    .box-2 {
        margin: auto;
    }

    .samara-boxes .box-1 img,
    .box-2 video {
        width: 95vw;
        height: 50vw;
        object-fit: cover;
        border-radius: 12px;
    }

    .samara-boxes .box-para p {
        font-size: 4vw;
    }

    .page-4-inner-div .page-4-bottomText {
        display: flex;
        flex-direction: column;
    }

    .page-4-inner-div .page-4-bottomText :nth-child(1) {
        font-size: 6.5vw;
        margin: auto;
    }

    .page-4-inner-div .page-4-bottomText :nth-child(2) {
        font-size: 6.5vw;
        margin: auto;
    }

    /* page-5 */

    .page-5 {
        height: auto;
    }

    .second-swiper {
        width: 100%;
        height: 70vw;
      }
    .second-swiper-slide img {
        height: 20vw;
    }

    .swiper-2-slid-1-colors {
        height: 10vw;
    }

    .swiper-2-slid-1-colors div {
        height: 7vw;
        width: 7vw;
    }

    .swiper-button-prev{
        scale: 0.5;
    }

    .swiper-button-next{
        scale: 0.5; 
    }

    .sec-swiper-text{
        position: absolute;
        top: 15%;
    }

    .sec-swiper-text :nth-child(1) {
        font-size: 4.5vw;
    }

    .sec-swiper-text :nth-child(2) {
        font-size: 3.5vw;
    }

    .page-5 .see-more #see-more-para {
        text-align: center;
        font-size: 5vw;
        padding: 12px;
    }

    .page-5 .see-more-buttons {
        flex-direction: column;
    }

    .page-5 .seemore-btn-2 img {
        height: 12vw;
    }

    .seemore-btn-1{
        padding: 12px;
    }

    .seemore-btn-2{
        padding: 12px;
    }

    .color-boxes p{
        font-size: 0vw;
    }

    /* page-6 */

    .FTsteps{
        flex-direction: column;
    }

    .FTsteps-text{
        width: 100%;
    }
      
    .FTsteps .FTsteps-text p {
        font-size: 5vw;
    }

    .first-two-step-wrapper{
        display: flex;
        justify-content: center;
        margin: 5vw auto;   
    }

    .steps {
        width: 40%;
    }

    .step-1-inner-text :nth-child(1) {
        font-size: 5vw;
    }

    .step-1-inner-text :nth-child(2) {
        font-size: 3vw;
    }

    .LTsteps {
        flex-direction: column;
    }

    .LTstep-text-1 :nth-child(1){
            font-size: 4vw;
    }

    .LTsteps-text {
        width: 100%;
    }

    .LTstep-text-1 p {
        font-size: 3.8vw;
    }

    .LTsteps-button {
        display: flex;
    }

    .LTsteps-button :nth-child(1) {
        font-size: 3vw;
        width: 25vw;
        padding: 3vw;
    }

    .LTsteps-button :nth-child(2) {
        font-size: 3vw;
        width: 25vw;
        padding: 3vw;
    }
    
    .step-1-photo{
        margin-top: 4.2vw;
    }

    /* page-7 */

    .studio-tour-01-text :nth-child(1) {
        font-size: 3.5vw;
    }

      .studio-tour-01-text :nth-child(2) {
        font-size: 2.2vw;
    }

      .studio-tour-02-text :nth-child(1) {
        font-size: 3.5vw;
    }

      .studio-tour-02-text :nth-child(2) {
        font-size: 2.2vw;
    }

    .page-7-section-2 {
        height: 100dvh;
    }

    .page-7-inner-div #page-7-BGimg {
        height: 60vh;
        filter: blur(0px);
    }

    .page-7-inner-stuff {
        top: 18vw;
        flex-direction: column;
    }

    .page-7-section-2 .inner-div-text p { 
        font-size: 5vw;
    }

    .page-7-swiper {
        width: 60vw;
        height: 60vw;
    }
}